.boxs {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    row-gap: 30px;
}
.box {
    
    border: 2px solid blue;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.box h1 {
    font-size: 24px;
}
.box h2 {
    font-size: 16px;
}